body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.header-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.top-nav {
    display: flex;
    flex-grow: 0.5;
}

.header-link {
    margin-left: auto;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-top: 12px;
    font-weight: 700;
}

.top-nav p a, .top-left h4{
    margin: 8px;
    color: lightgray;
    text-decoration: none;
    font-size: 18px;;
}

.top-nav-content {
    flex-grow: 1;
    display: flex;
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 0;
}

.top-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.top-left h4 {
    font-weight: 400;
}

.top-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: flex-end;
}

.top-left button {
    width: 100px;
    height: auto;
    background-color: #3882F6;
    color: white;
    padding: 5px;
    border: none;
    border-radius:8px;
    margin: 8px;
}

.placeholder-image {
    background-color: gray;
    color: white;
    height: 100px;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 32px;
}

.random-info h2 {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
}

.image-flex {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 16px;
    padding-bottom: 32px;
}

.image-container p {
    text-align: center;
}

.image-square {
    height: 100px;
    width: 100px;
    border: 1px #3882F6 solid;
    border-radius: 12px;
    border-width: medium;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    flex-grow: 1;
}

.quote-section h3 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 60%;
    font-weight: 400;
}

.quote-section h4 {
    width: 40%;
    margin-left: auto;
    font-size: 28px;
}

.cta-container {
    width: 100%;
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    width: 75%;
    height: 75px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 32px;
}

.cta-left {
    width: 66%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 64px 0px 64px;
}

.cta-left h4 {
    margin: 4px;
    font-weight: 700;
    font-size: 24px;
}

.cta-left p {
    margin: 4px;
    font-size: 16px;
    font-weight: 100;
}

.cta-right {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-right button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    padding: 8px 32px 8px 32px;
    font-weight: 700;
    border-width: medium;
    font-size: 16px;
}